*{
  font-family: 'Raleway', sans-serif;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
a{
  color: blanchedalmond;
  font-style: normal;
  text-decoration: none;
}
ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}
li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 10vw;
    margin: 0px 8px;
    border-radius: 30px;
    color: white;
    background-color: #007000;
    line-height: 35px;
}

li:active{
  background-color: #009000;
  transform: scale(1.05,1.05);

}

.material-symbols-outlined{
  margin-top:1vh;
  margin-left: 1vw;
  transform: scale(1.25,1.25);
}

.material-symbols-outlined:active{
  transform: scale(1.05,1.05);
  color: rgb(29, 29, 29);

}
.ContainerPrincipal{
  margin-left: 5vw;
}
/*Main*/
main{
  display: flex;
  flex-direction: column;
}

/*estilo de carrito*/
#contenedorCompra{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  margin-left: 1vw;
  width: 20vw;
  height: 20vh;
  border: none 1px;
  Border-radius: 5px;
  box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.1);
}

#tituloCompra{
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
}
#contador{
  font-size: 1.5vw;
  font-weight: bold;
  color: #000000;
}
#botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 0.5vw;
  margin-top: 1vh;
}
#operacion{
  width: 7.5vw;
  display: flex;
  flex-direction:column;
  align-items: center;
}
#reinicio{
  width: 2.5vw;
}
#botones img {
  width: 1.25vw;
  height: 1.25vw;
}

/*Sector cursos*/

#contenedorCursos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#curso{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  margin-left: 1vw;
  width: 20vw;
  height: 20vh;
  border: none 1px;
  Border-radius: 5px;
  box-shadow: -2px 2px 2px 2px rgba(0,0,0,0.1);
}